name: Create Release artifacts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Build every Monday
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-24.04
    env:
      OS_LIST_NAME: "Zephyr SD Card Image"
      OS_LIST_DESC: "Run Zephyr on A53 Cores"
      OS_LIST_ICON: "https://media.githubusercontent.com/media/beagleboard/bb-imager-rs/refs/heads/main/assets/os/zephyr.webp"
      DEVICE: "pocketbeagle2-am62"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install packaging deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends mtools u-boot-tools device-tree-compiler

      - name: Setup
        run: |
          export RELEASE_DATE=$(date +"%Y-%m-%d")
          echo "RELEASE_DATE=${RELEASE_DATE}" >> $GITHUB_ENV
          mkdir dist
          jq -n '.os_list = []' > os_list.json

      - name: Build PocketBeagle 2 image
        run: |
          make -C pocketbeagle_2 -j$(nproc) zephyr.img.xz
          mv pocketbeagle_2/zephyr.img.xz dist/${DEVICE}.img.xz
          ./os_list.sh ${DEVICE}.img.xz

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        if: github.event_name == 'pull_request'
        with:
          path: |
            dist/*.img.xz
            os_list.json

      - name: Pre-Release
        uses: softprops/action-gh-release@v2
        if: github.event_name != 'pull_request'
        with:
          prerelease: true
          name: Continuous Release
          tag_name: continuous-release
          files: |
            dist/*.img.xz
            os_list.json
